<section class="password-recovery">
  <div>
    <h2>Restablecer contraseña</h2>
    <form action="/sessions/password_reset/{{uid}}/{{token}}" method="post">
      <input
        required
        type="password"
        name="newPassword"
        placeholder="Nueva contraseña"
      /><br />
      <input
        required
        type="password"
        name="confirmation"
        placeholder="Confirmar contraseña"
      /><br />
      <button type="submit">Enviar</button>
    </form>
  </div>
</section>