<section class="password-recovery">
  <div>
    <h2>Restablecer contraseña</h2>
    <form action="/sessions/password_reset" method="post">
      <input required type="email" name="email" placeholder="Email" /><br />
      <button type="submit">Enviar</button>
    </form>
  </div>
</section>

<div class="go-top-container">
  <div class="go-top-button">
    <i class="bx bx-chevron-up"></i>
  </div>
</div>