<h2>Restablecer contraseña</h2>

<form action="/sessions/password_reset" method="post">
  <input required type="email" name="email" placeholder="Email" /><br />
  <button type="submit">Enviar</button>
</form>