<section>
  <div class="login-form-container">
    <form class="login-form" action="/sessions/login" method="post">
      <h2 class="login-title">Iniciar sesión</h2>
      <div class="login-inputs">
        <label class="login-label">Email</label>
        <input
          class="login-input"
          type="email"
          name="email"
          placeholder="Ingresa tu correo electrónico"
        />
        <br />
        <label class="login-label">Password</label>
        <input
          class="login-input"
          type="password"
          name="password"
          placeholder="Ingresa tu contraseña"
        />
      </div>
      <div class="login-buttons">
        <button class="login-button" type="submit">Log In</button>
      </div>
    </form>
    <div class="login-buttons">
      <button class="login-button"><a href="/api/sessions/github">Ingresar con
          Github</a>
      </button>
      <button class="login-button login-button-ghost"><a
          href="/sessions/register"
        >Registrate</a>
      </button>
    </div>
    <a href="/sessions/password_reset">Olvidé mi contraseña</a>
  </div>
  <div class="go-top-container">
    <div class="go-top-button">
      <i class="bx bx-chevron-up"></i>
    </div>
  </div>
</section>