<h2>Iniciar sesión</h2>

<form action="/sessions/login" method="post">
  <input type="email" name="email" placeholder="Email" /><br />
  <input type="password" name="password" placeholder="Password" /><br />
  <button type="submit">Enviar</button>
</form>

<h3>¿No tenés cuenta?</h3>
<h4><a href="/sessions/register">Registrate</a></h4>

<a href="/api/sessions/github">Ingresar con Github</a>