<section class="password-recovery">
  <div>
    <p>{{message}}</p>
    <a href="/sessions/login">Iniciar sesión</a>
  </div>
</section>

<div class="go-top-container">
  <div class="go-top-button">
    <i class="bx bx-chevron-up"></i>
  </div>
</div>