<h2 class="text-2xl mt-12 mb-8">Registrar usuarios</h2>
<form action="/sessions/register" method="post">

    <input required type="text" name="first_name" placeholder="Nombre"><br>
    <input required type="text" name="last_name" placeholder="Apellido"><br>
    <input required type="email" name="email" placeholder="Email"><br>
    <input required type="tel" name="age" placeholder="Edad"><br>
    <input required type="password" name="password" placeholder="Contraseña"><br>
    <hr>
    <button type="submit">Enviar</button>
</form>

<h3>¿Ya estás registrado?</h3>
<h4><a href="/sessions/login">Inicia sesión</a></h4>