@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --brand-color: #f59e0b;
  --brand-color-mid: #f59f0b8c;
  --dark-color: #18181b;
  --mid-color: #a1a1aa;
  --light-color: #f8f8f8;
  --first-color: #f59e0b;
  --second-color: #fabf5a;
  --bg-light-color: #444444;
  --principal-font: "Lato", sans-serif;
}

body {
  cursor: default;
}
body.light {
  background: var(--light-color);
}
body.dark {
  transition: 0.4s ease all;
  background-color: var(--dark-color);
}

#toggle {
  display: none;
}

.toggle {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 63px;
  height: 33px;
  border-radius: 50px;
  transition: 0.2s;
}
.toggle i {
  width: 50%;
  line-height: 35px;
  text-align: center;
  font-size: 20px;
  z-index: 1;
}

.toggle .ball {
  position: absolute;
  width: 35px;
  height: 35px;
  margin: -1px;
  border-radius: 50%;
  transition: 0.3s ease-out;
}

.light .toggle {
  background: linear-gradient(145deg, #e1e1e1, #fff);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(0, 0, 0, 0.3);
}

.light .toggle .bxs-sun {
  color: var(--light-color);
}

.light .toggle .bx-moon {
  color: var(--dark-color);
}

.light .toggle .ball {
  background: var(--dark-color);
}

.dark .toggle {
  background: var(--dark-color);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(0, 0, 0, 0.3);
}

.dark .toggle .bx-sun {
  color: var(--light-color);
}

.dark .toggle .bxs-moon {
  color: var(--dark-color);
}

.dark .toggle .ball {
  background: #fafafa;
  transform: translateX(30px);
}

.top-nav, .footer-bottom {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: space-around;
  padding: 0.6rem 0.6rem;
  width: 100%;
  background: var(--brand-color);
  color: black;
  text-align: center;
}
.top-nav a, .footer-bottom a {
  text-decoration: none;
}
.top-nav p, .footer-bottom p {
  color: var(--light-color);
}
.top-nav i, .footer-bottom i {
  margin: 0 0.2rem;
  transition: 0.3s;
  font-size: 1.2rem;
  color: var(--light-color);
}
.top-nav i:hover, .footer-bottom i:hover {
  color: var(--dark-color);
}
.top-nav .profile-top-nav, .footer-bottom .profile-top-nav {
  padding: 1.1rem 0.6rem 0.5rem 0.6rem;
  background-color: var(--dark-color);
  border-radius: 1rem 0 1rem 0;
  margin-left: 0.7rem;
}
.top-nav .profile-top-nav i, .footer-bottom .profile-top-nav i {
  margin: 0;
  transition: 0.3s;
  font-size: 1.5rem;
}
.top-nav .profile-top-nav i:hover, .footer-bottom .profile-top-nav i:hover {
  color: var(--brand-color);
}

nav {
  background-color: var(--light-color);
  font-weight: bold;
  font-size: 3vh;
  text-decoration: none;
  margin-bottom: 5vh;
}
nav.dark {
  background-color: var(--dark-color);
}
nav a {
  text-decoration: none;
  color: var(--dark-color);
}

.horizontal-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  width: 100%;
  gap: 10%;
  font-family: "Poiret One", cursive;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.horizontal-menu li {
  color: var(--light-color);
  padding: 5px;
}
.horizontal-menu li a {
  border-radius: 5px;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.horizontal-menu li input {
  display: none;
}
.horizontal-menu li :hover {
  background-color: var(--brand-color);
  color: var(--dark-color);
  text-decoration: underline;
}
.horizontal-menu div {
  display: flex;
}

.vertical-menu {
  padding-top: 5px;
  position: absolute;
  display: none;
  min-width: 12vw;
  background-color: var(--light-color);
  font-size: 2.5vh;
  z-index: 3;
}
.vertical-menu li :hover {
  background-color: var(--brand-color);
  color: var(--dark-color);
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
}

.horizontal-menu,
.vertical-menu {
  list-style: none;
}

.horizontal-menu li:hover .vertical-menu {
  display: block;
}

.mini-slider {
  background-color: var(--light-color);
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.mini-slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: 2400px;
}

.mini-slider .slide {
  width: 200px;
}

.mini-slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1200px);
  }
}
.slider-frame {
  width: 100%;
  max-height: 85%;
  margin: 0.3rem auto 0.3rem;
  overflow: hidden;
  display: grid;
  place-content: center;
}
.slider-frame .slider-text {
  position: absolute;
  z-index: 1;
  font-size: 20px;
  display: grid;
  place-content: center;
  height: 80%;
  width: 100%;
}
.slider-frame .slider-text div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.514);
  padding: 2rem 2rem;
}
.slider-frame .slider-text a {
  transition: 0.3s;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  width: 20%;
  margin-top: 2rem;
  color: var(--dark-color);
  border-radius: 0 1rem 0 1rem;
  cursor: pointer;
  background: var(--second-color);
  padding: 0.5rem;
  text-align: center;
}
.slider-frame .slider-text a:hover {
  color: var(--light-color);
  background-color: var(--dark-color);
}
.slider-frame .slider-text a :visited {
  color: var(--light-color);
}
.slider-frame .slider-text p {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 5rem;
  color: var(--light-color);
}
.slider-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
}
.slider-frame li {
  width: 100%;
  list-style: none;
}
.slider-frame img {
  aspect-ratio: 16/9;
  width: 100%;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.benvenuti {
  display: flex;
  width: 20vw;
  position: absolute;
  padding: 1vh;
  color: var(--light-color);
  background-color: var(--dark-color);
  border: 1px;
  border-radius: 0 0 5px 0;
  top: 17.3vh;
}

.user-card-continer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-card-continer h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.user-card,
.user-avatar {
  background-color: var(--light-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  padding: 1rem;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 1rem;
}

.user-avatar {
  background-color: #ccc;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-details {
  margin: 2rem;
}

.user-avatar,
.user-name,
.user-age,
.user-email,
.user-role {
  padding-bottom: 0.5rem;
}

.user-name {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.user-age,
.user-role,
.user-email {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.products-container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  background-color: var(--light-color);
  border: 1px var(--dark-color) solid;
  width: 20%;
  height: auto;
  border-radius: 0 1rem 0 1rem;
  display: flex;
  position: relative;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  margin: 1.5rem 1.5rem;
  overflow: hidden;
}
.card img {
  background-color: white;
  border-radius: 0 0 0 1rem;
  padding: 10%;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.card:hover {
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.95);
  transform: translateY(-5px) translateX(-5px);
}

.card::after {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--brand-color);
  opacity: 0.6;
  position: absolute;
  z-index: 1;
  left: -500px;
  transition: 0.3s ease-in-out all;
}

.card:hover::after {
  left: 0;
}

.card-info {
  margin: 1rem;
  cursor: default;
  color: var(--dark-color);
}
.card-info h3 {
  font-size: 16px;
}
.card-info p {
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  font-size: 0.9rem;
}
.card-info h4 {
  margin: 8px 0px;
}
.card-info div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
  width: 100%;
}

.card img,
.card-info {
  z-index: 2;
}

.card-info .item-detail-info {
  padding: 8px 12px;
  background-color: rgb(48, 47, 47);
  border-radius: 0px 0px 8px 8px;
}

.bxs-info-circle {
  background: var(--brand-color);
  padding: 1rem;
  color: var(--dark-color);
  border: 1px var(--dark-color) solid;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.bxs-info-circle:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.prevpage-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
.prevpage-container a {
  transition: 0.3s;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  width: 10%;
  color: var(--dark-color);
  border-radius: 0 1rem 0 1rem;
  cursor: pointer;
  background: var(--second-color);
  padding: 0.5rem;
  text-align: center;
}
.prevpage-container a :visited {
  color: var(--light-color);
}
.prevpage-container a:hover {
  color: var(--light-color);
  background-color: var(--dark-color);
}

.login-container, .password-recovery,
.login-form,
.create-form,
.password-recovery div,
.login-inputs {
  font-family: "Poppins", sans-serif;
  display: grid;
}

.login-container, .password-recovery {
  background: url(../assets/img/puntitos-negros-soft.png);
  position: relative;
  height: 100vh;
  align-items: center;
}
.login-container.dark, .dark.password-recovery {
  background: url(../assets/img/puntitos-blancos-soft.png);
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.login-form-container a {
  text-decoration: none;
  color: var(--dark-color);
}
.login-form-container a :visited {
  color: var(--dark-color);
}

.login-form, .create-form, .password-recovery div {
  min-width: 20%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  row-gap: 1.25rem;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 1.5rem 3.5rem;
  border-radius: 1rem;
  border: 2px solid var(--dark-color);
}
.login-form a, .create-form a, .password-recovery div a {
  display: flex;
  justify-content: center;
}
.login-form:hover, .create-form:hover, .password-recovery div:hover {
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.95);
  transform: translateY(-5px) translateX(-5px);
}
.login-form.dark, .dark.create-form, .password-recovery div.dark {
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
}
.login-form.dark:hover, .dark.create-form:hover, .password-recovery div.dark:hover {
  box-shadow: 5px 5px 0px var(--light-color);
}

.login-form, .create-form, .password-recovery div,
.login-button,
.create-form .button,
.password-recovery div form button,
.login-button-ghost {
  transition: all 0.4s ease;
}

.login-title {
  color: var(--dark-color);
  margin-bottom: 0.5rem;
}
.login-title.dark {
  color: var(--light-color);
}

.login-inputs {
  row-gap: 0.75rem;
  margin-bottom: 0.5rem;
}

.login-label {
  display: block;
  color: var(--dark-color);
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0.25rem;
}
.login-label.dark {
  color: var(--light-color);
}

.login-input, .create-form input, .password-recovery div form input {
  padding: 14px 12px;
  border-radius: 6px;
  background-color: hsla(244, 16%, 92%, 0.6);
  color: var(--dark-color);
  font-size: 15px;
  font-weight: bold;
  transition: border 0.4s;
  outline: none;
}

.login-inputs:focus,
.login-input:valid,
.create-form input:valid,
.password-recovery div form input:valid {
  border: 1px solid var(--dark-color);
}

.login-input:focus, .create-form input:focus, .password-recovery div form input:focus {
  transition: all 0.4s ease;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.95);
  transform: translateY(-2px) translateX(-2px);
}

.login-input, .create-form input, .password-recovery div form input {
  padding-right: 36px;
}
.login-input.dark, .create-form input.dark, .password-recovery div form input.dark {
  background-color: var(--light-color);
}
.login-input.dark:focus, .create-form input.dark:focus, .password-recovery div form input.dark:focus {
  box-shadow: 5px 5px 0px var(--light-color);
}

.login-buttons {
  font-family: "Poppins", sans-serif;
  display: flex;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}

.login-button, .create-form .button, .password-recovery div form button {
  width: 100%;
  padding: 14px 2rem;
  border-radius: 5px;
  color: var(--dark-color);
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: pointer;
}
.login-button:hover, .create-form .button:hover, .password-recovery div form button:hover {
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.95);
  background: var(--dark-color);
  color: var(--light-color);
  transform: translateY(-5px) translateX(-5px);
}
.login-button.dark:hover, .create-form .dark.button:hover, .password-recovery div form button.dark:hover {
  box-shadow: 5px 5px 0px var(--light-color);
}
.login-button a, .create-form .button a, .password-recovery div form button a {
  color: var(--dark-color);
}
.login-button a.dark, .create-form .button a.dark, .password-recovery div form button a.dark {
  color: var(--light-color);
}
.login-button a.dark:visited, .create-form .button a.dark:visited, .password-recovery div form button a.dark:visited {
  color: var(--light-color);
}

.login-button > a, .create-form .button > a, .password-recovery div form button > a {
  text-decoration: none;
}
.login-button > a:visited, .create-form .button > a:visited, .password-recovery div form button > a:visited {
  color: var(--dark-color);
}

.login-button:hover > a, .create-form .button:hover > a, .password-recovery div form button:hover > a {
  color: var(--light-color);
}

.login-button-ghost {
  display: flex;
  align-items: center;
  background: var(--dark-color);
  box-shadow: none;
}
.login-button-ghost a {
  color: var(--light-color);
}
.login-button-ghost a:hover {
  color: var(--dark-color);
}
.login-button-ghost:hover {
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.95);
  background: var(--brand-color);
}

.login-button-ghost a:visited {
  color: var(--light-color);
}

.login-button-ghost:hover > a:visited {
  color: var(--dark-color);
}

.register-form {
  padding: 2rem;
  border: 1px solid var(--dark-color);
  border-radius: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.register-form h2 {
  margin-bottom: 1rem;
}
.register-form input {
  margin: 0.3rem 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.product-card {
  background-color: white;
  margin: 3% 0 3% 0;
  display: flex;
  width: 90%;
  min-height: 50%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.product-image {
  padding: 0.5rem;
  width: 50%;
  height: 80vh;
  overflow: hidden;
  margin: auto;
}
.product-image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-info {
  font-family: var(--principal-font);
  padding: 2rem;
  width: 50%;
}

.product-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.one-product-description {
  color: var(--mid-color);
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: 0.3s;
}
.one-product-description:hover {
  color: var(--bg-light-color);
}

.product-price {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.product-category a {
  text-decoration: none;
  color: var(--mid-color);
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem 1rem 1rem 1rem;
  transition: 0.3s;
}
.product-category a:visited {
  color: var(--mid-color);
}
.product-category a:hover {
  color: var(--bg-light-color);
}

.add-to-cart-button {
  transition: 0.3s;
  background-color: var(--brand-color);
  color: var(--dark-color);
  border: none;
  border-radius: 1rem 0 1rem 0;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem 0 1rem;
}
.add-to-cart-button:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.r-add-to-cart-button, .categories a {
  transition: 0.3s;
  background-color: var(--dark-color);
  color: var(--light-color);
  border: none;
  border-radius: 1rem 0 1rem 0;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem 0 1rem;
}
.r-add-to-cart-button:hover, .categories a:hover {
  background-color: var(--brand-color);
  color: var(--dark-color);
}

.categories {
  margin: 0 1rem;
  min-width: 50%;
  display: flex;
  justify-content: flex-start;
}
.categories a {
  border-radius: 0 0 1rem 1rem;
  text-decoration: none;
  margin: 0 1vh 0;
  font-family: var(--principal-font);
}

.password-recovery div {
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.password-recovery div form input {
  margin-bottom: 0.5rem;
}
.password-recovery div form button {
  margin-bottom: 0;
}

.go-top-container {
  position: fixed;
  bottom: 1.5rem;
  right: 2.5rem;
  width: 2.5rem;
  height: 4rem;
  z-index: -1;
}

.go-top-button {
  width: 0rem;
  height: 0rem;
  background: var(--dark-color);
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.go-top-button i {
  position: absolute;
  font-size: 1.5rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #fff;
  transition: 0.2s;
}

.show {
  z-index: 10;
}
.show .go-top-button {
  animation: popup 0.3s ease-in-out;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 11;
}
.show i {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 3rem;
    height: 3rem;
  }
  100% {
    width: 2.5rem;
    height: 2.5rem;
  }
}
footer {
  font-family: var(--principal-font);
  width: 100%;
  height: 60%;
  background-color: black;
  color: var(--light-color);
  padding: 20px 0;
  margin-top: 100px;
  text-align: center;
}
footer .footer-text {
  font-weight: normal;
}
footer .footer-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}
footer .footer-links {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
footer .footer-links a {
  color: #fff;
  margin: 0 1.2rem;
  text-decoration: none;
  transition: color 0.3s;
}
footer .footer-links a:hover {
  color: var(--brand-color);
}
footer .footer-ubi-mail {
  display: flex;
  justify-content: center;
}
footer .footer-ubi-mail div {
  margin: 0 5rem;
}
footer .footer-ubi-mail div a {
  color: var(--light-color);
}
footer .footer-ubi-mail div a :visited {
  text-decoration: none;
}
footer .footer-ubi-mail div i {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.footer-links a .footer-social {
  display: flex;
  justify-content: center;
}

.footer-bottom {
  padding: 1rem 1rem;
  font-size: 1rem;
  background-color: var(--dark-color);
}
.footer-bottom i:hover {
  color: var(--brand-color);
}

.text-divider {
  display: flex;
  align-items: center;
  --text-divider-gap: 1rem;
  margin: 2.5rem 6rem;
}

.text-divider::before,
.text-divider::after {
  content: "";
  height: 1px;
  background-color: var(--light-color);
  flex-grow: 1;
}

.text-divider::before {
  margin-right: var(--text-divider-gap);
}

.text-divider::after {
  margin-left: var(--text-divider-gap);
}

.cart-section {
  min-height: 80vh;
  flex-direction: column;
}
.cart-section h2 {
  font-family: var(--principal-font);
  font-size: 4rem;
  margin: 5% 0 5% 0;
  font-weight: 1000;
}
.cart-section .cart-buttons {
  margin: 3% 0 3% 0;
  display: flex;
  flex-direction: row;
}
.cart-section .cart-buttons form {
  margin: 0 10px;
}
.cart-section .cart-buttons form button {
  font-family: var(--principal-font);
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 0 1rem;
  background-color: var(--brand-color);
  color: var(--dark-color);
  cursor: pointer;
  padding: 0.7rem;
}
.cart-section .cart-buttons form button:hover {
  transition: 0.3s;
  color: var(--light-color);
  background-color: var(--dark-color);
}

.cart-container {
  width: 80%;
  border: 1px solid var(--mid-color);
  border-radius: 1rem;
  padding: 2rem;
  background-color: white;
}
.cart-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.cart-item {
  margin-bottom: 1.5rem;
}
.cart-item .product {
  display: flex;
  align-items: center;
}
.cart-item .product img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.cart-item .product .quantity-box {
  border: 1px solid var(--mid-color);
  border-radius: 1px 1px 1px 1px;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}
.cart-item .product .quantity-box button {
  cursor: pointer;
  width: 1rem;
  padding: 0.1rem;
}
.cart-item .product .quantity-box .quantity {
  padding: 5px;
  color: #888;
}

.product-details {
  flex-grow: 1;
}

.product-name {
  font-weight: bold;
}

.product-description {
  color: #888;
  font-size: 12px;
}

.product:hover {
  background-color: #f5f5f5;
}

.product:hover .product-name,
.product:hover .product-description {
  color: #333;
}

.create-form input {
  padding: 0.5rem 0.5rem;
}
.create-form .button {
  margin-bottom: 0;
}/*# sourceMappingURL=index.css.map */